a {
  text-decoration: none;
  color:#444444;
  display:block;
  
}

ul{
  list-style-type:none;
}
header{
  height:65px;
  width:100%;
  padding-bottom:20px;
  background-color:rgba(255,255,255,.7);
  position: fixed;
}
/* .nav{
  height:65px;
  background-color:red;
} */
img{
  width:100%;
  
}
.right-nav{
  float:right;
  background-color:#65571b;
  width:50%;
  padding-left:20px;
  margin-right:100px;
  /* position:fixed; */
  top:0;
}


.right-nav li{
  float:left;
  padding-right:25px;
  font-size:30px;
}

.warapper{
  background-color:#FFF8DC;
  display:flex;
  align-items:center;
  width:800px;
  height:750px;
  margin:0 auto;
}
h1{
  font-size:50px;
  margin:0 auto;
  text-align:center;
  /*margin-top:0px;*/
}
.content{
  background-color:#C0C0C0;
  width:100%;
}
#sec1{
  background-color:pink;
  width:800px;
  height:750px;
  padding-top:100px;
  padding-bottom:60px;
  margin:0 auto;
}
.about-content{
  background-color:#eff;
  width:800px;
  height:400px;
  margin:0 auto;
  text-align:center;
}
.text{
  background-color:#CCFFFF;
  text-align:center;
  padding:10px 0px 10px 0px;
  border-bottom:solid 1px;
}
.icon{
  width:50px;
}
.photo{
  border-radius:50%;
  width:200px;
  height:200px;
  display:block; 
  margin:0 auto;
  padding-top:30px;
}

/* .center{
  text-align:center;
} */

#sec2{
  background-color:#eff;
  width:800px;
  height:600px;
  padding-top:100px;
  /*padding-bottom:60px;*/
  margin:0 auto;
}
.work-content{
  background-color:#eff;
  width:100%;
  height:400px;
  margin:0 auto;
  margin-top:50px;
 
}
.works{
  float:left;
  text-align:center;
  margin-left:45px;
}
.work{
  width:200px;
  padding-right:10px;
}
#sec3{
  background-color:pink;
  width:800px;
  height:900px;
  padding-top:100px;
  padding-bottom:60px;
  margin:0 auto;
}

.Form {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}
@media screen and (max-width: 480px) {
  .Form {
    margin-top: 40px;
  }
}
.Form-Item {
  border-top: 1px solid #ddd;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
}
.Form-Item:nth-child(5) {
  border-bottom: 1px solid #ddd;
}
.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}
.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}
.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #5bc8ac;
  color: #fff;
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}
.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Btn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: #5bc8ac;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  .Form-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }
}

.footer{
    text-align:center;
    padding:20px 0px 20px 0px;
}